
<h2>Login</h2>
<%= form_for(:reviewer, url: sessions_path) do |f| %>
	<div class="field"><%= f.label :name %><%= f.text_field :name %></div>
	<p>
	<div class="field"><%= f.label :password %><%= f.password_field :password %></div>
</p>
<div class="action"> 
<%= f.submit "Login" %>
</div>
<%end%>
<br>

<div style="padding: 5%; border: solid 2px;">
	Login details<br><br>
	Name: Jim | Password: 123abc <br>
	Name: Joe | Password: abc123
	
</div>