<!DOCTYPE html>
<html>
<head>
  <title>IReviewed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fixedheader">Books Reviewer</div>

<p id="notice"><%= notice %></p>

<div style="float: right;">
<% if logged_in? %>
Logged in as <%= current_user.name %> | <%= link_to "Logout",  logout_path, method: :delete%>
<% end %>
</div>

<%= yield %>

<div id="fixedfooter">Ahmed Sohel | Rails Developer | <a href="https://my-demo-ap.herokuapp.com"> My Profile </a></div>

</body>
</html>
